extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="post", enctype="multipart/form-data")
        label(for="video") Video File
        input(type="file", accept="video/*", required, id="video", name="video")
        input(placeholder="Title", required, type="text", name="title", maxLength=100)
        input(placeholder="Description", required, type="text", name="description")
        input(placeholder="Hashtags, separated by comma.", type="text", name="hashtags")
        input(type="submit", value="Upload Video")